<div class="rezervacija">
<div class="polaziste">
    <label>Polazište:</label> 
    <br>
    <input type="text" id="mjesto-polaska" placeholder="Upišite naziv grada" required>
</div>  
 


<div  class="odrediste">
    <label>Odredište:</label>
    <br>
    <input type="text" id="mjesto-dolaska" placeholder="Upišite naziv grada" required>
 </div>
    
 
 
 <div class="vrijeme">
      <label>Vrijeme polaska:</label>
      <br>
      <input type="date" id="vrijeme" name="rodendan">
 </div>


<div class="Pretraga">
       <button type="button" class="gumb">
        Pretraži
      </button>
</div>
</div>